{% extends 'index.html' %}
{% load social_share %}

{% block title %}Archive{% endblock title %}

{% block content %}
<div class="container">
    <ul class="list-group">
        {% for post in object_list %}
        <li class="list-group-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}




{% block home_pagination%}
{% if is_paginated %}
<nav aria-label="Page Navigation"></nav>
<ul class="pagination justify-content-center blog-pagination mt-5">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="page-link disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ i }}</a>
    </li>
    {% elif i <= page_obj.number|add:10 and i >= page_obj.number|add:-10 %}
    <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
    <li class="page-link disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
</nav>
{% endif %}
{% endblock home_pagination %}