{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <title>{% block title %}Trang chủ{% endblock title %} - {{site_name}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'album.css' %}" rel="stylesheet">
  <link href="{% static 'responsive-social.css' %}" rel="stylesheet">

  <!-- for sharing buttons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>


  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Liên hệ</h4>
            <p class="text-muted">Hệ thống {{site_name}} hoạt động tự động dựa trên nguyên lý của các cỗ máy tìm kiếm,
              các hình ảnh trên {{site_name}} đều được thu thập từ động từ internet, chúng tôi không lưu trữ bất kì hình
              ảnh nào, tất cả hình ảnh đều được bảo lưu mọi bản quyền của các trang web gốc. Nếu có bất kì vi phạm nào
              vui lòng liên hệ với chúng tôi qua email {{site_mail}} để gỡ bỏ nhanh nhất. Xin cảm ơn!

            </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Pages</h4>
            <ul class="list-unstyled">
              <li><a href="/archive" class="text-white">Archive</a></li>
              <li><a href="/random" class="text-white">Random Articles</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
          </svg>
          <strong>{{site_name}}</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  <br>
  <main role="main">
    {% block content %}
    <div class="container">
      <div class="card-deck">
        {% for post in object_list %}
        <div class="card my-2">
          <a href="{{ post.get_absolute_url }}">
            <img class="card-img-top post-thumbnail" src="{{ post.thumbnail }}" alt="{{ post.thumbnail_description }}">
          </a>
          <div class="card-body">
            <a href="{% url 'single_post_slug' post.slug post.pk %}"
              class="card-title text-center font-weight-bold text-capitalize">{{ post.title }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock content %}

    
    {% block home_pagination%}
    {% if is_paginated %}
    <nav aria-label="Page Navigation"></nav>
    <ul class="pagination justify-content-center blog-pagination mt-5">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="page-link disabled"><span>&laquo;</span></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#" >{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      </li>
      {% else %}
      <li class="page-link disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    </nav>
    {% endif %}
    {% endblock home_pagination %}

  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>&copy; 2019 Fanabe</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{% static 'js / jquery - slim.min.js' %}"><\/script>')</script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/holder.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.2.2/EQCSS.min.js"></script>

</body>

</html>